# Dependências

node_modules/

# Variáveis de ambiente e credenciais

.env
.env.*
!.env.example

# Logs

logs/
*.log
npm-debug.log*

# Arquivos do sistema

.DS_Store
Thumbs.db
desktop.ini

# Editores

.vscode/
.idea/

# Arquivos temporários

tmp/
temp/

# Arquivos de compilação

dist/
build/
coverage/

# Arquivos de Configuração

Cores da Jgs.txt